<a href="https://colab.research.google.com/github/Satishkumarab/Machinie-Learning/blob/main/AnythingAi_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller

In [94]:
sentiment_df = pd.read_csv('fear_greed_index.csv')
sentiment_df

       timestamp  value classification        date
0     1517463000     30           Fear  2018-02-01
1     1517549400     15   Extreme Fear  2018-02-02
2     1517635800     40           Fear  2018-02-03
3     1517722200     24   Extreme Fear  2018-02-04
4     1517808600     11   Extreme Fear  2018-02-05
...          ...    ...            ...         ...
2639  1745818200     54        Neutral  2025-04-28
2640  1745904600     60          Greed  2025-04-29
2641  1745991000     56          Greed  2025-04-30
2642  1746077400     53        Neutral  2025-05-01
2643  1746163800     67          Greed  2025-05-02

[2644 rows x 4 columns]

In [95]:
sentiment_df.columns

Index(['timestamp', 'value', 'classification', 'date'], dtype='object')

In [96]:
trades_df= pd.read_csv('historical_data.csv')
trades_df

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211219,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,382.20,420.80,SELL,25-04-2025 15:35,7546.600000,Close Long,-20.2566,0xcd339c08dc7b615a993c0422374d8e02027400092bc2...,88803313862,False,0.042080,1.990000e+14,1.750000e+12
211220,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,2124.10,2338.63,SELL,25-04-2025 15:35,7164.400000,Close Long,-112.5773,0x29e8ede2a3a37aa0eac00422374d8e02029b00ac9f3c...,88803313862,False,0.233863,9.260000e+14,1.750000e+12
211221,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,423.40,466.16,SELL,25-04-2025 15:35,5040.300000,Close Long,-22.4402,0x0780085b0c0a943eea800422374d920204c100edf579...,88803313862,False,0.046616,6.930000e+14,1.750000e+12
211222,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,3599.80,3963.38,SELL,25-04-2025 15:35,4616.900000,Close Long,-190.7894,0x349c29934913b25c89e20422374d920204cd008b8a0e...,88803313862,False,0.396337,4.180000e+14,1.750000e+12
211223,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,1017.10,1119.83,SELL,25-04-2025 15:35,1017.100000,Close Long,-53.9063,0xac77fab973c455d77a670422374d9602039800f1f78c...,88803313862,False,0.111982,3.270000e+14,1.750000e+12

In [97]:
trades_df.columns

Index(['Account', 'Coin', 'Execution Price', 'Size Tokens', 'Size USD', 'Side',
       'Timestamp IST', 'Start Position', 'Direction', 'Closed PnL',
       'Transaction Hash', 'Order ID', 'Crossed', 'Fee', 'Trade ID',
       'Timestamp'],
      dtype='object')

In [98]:
trades_df['Date'] = pd.to_datetime(trades_df['Timestamp IST'], format='%d-%m-%Y %H:%M').dt.date

In [99]:
trades_df

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,Date
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-12-02
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-12-02
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,2024-12-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211219,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,382.20,420.80,SELL,25-04-2025 15:35,7546.600000,Close Long,-20.2566,0xcd339c08dc7b615a993c0422374d8e02027400092bc2...,88803313862,False,0.042080,1.990000e+14,1.750000e+12,2025-04-25
211220,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,2124.10,2338.63,SELL,25-04-2025 15:35,7164.400000,Close Long,-112.5773,0x29e8ede2a3a37aa0eac00422374d8e02029b00ac9f3c...,88803313862,False,0.233863,9.260000e+14,1.750000e+12,2025-04-25
211221,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,423.40,466.16,SELL,25-04-2025 15:35,5040.300000,Close Long,-22.4402,0x0780085b0c0a943eea800422374d920204c100edf579...,88803313862,False,0.046616,6.930000e+14,1.750000e+12,2025-04-25
211222,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,3599.80,3963.38,SELL,25-04-2025 15:35,4616.900000,Close Long,-190.7894,0x349c29934913b25c89e20422374d920204cd008b8a0e...,88803313862,False,0.396337,4.180000e+14,1.750000e+12,2025-04-25
211223,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,1017.10,1119.83,SELL,25-04-2025 15:35,1017.100000,Close Long,-53.9063,0xac77fab973c455d77a670422374d9602039800f1f78c...,88803313862,False,0.111982,3.270000e+14,1.750000e+12,2025-04-25

In [100]:
sentiment_df['Date'] = pd.to_datetime(sentiment_df['date']).dt.date

In [101]:
sentiment_df

       timestamp  value classification        date        Date
0     1517463000     30           Fear  2018-02-01  2018-02-01
1     1517549400     15   Extreme Fear  2018-02-02  2018-02-02
2     1517635800     40           Fear  2018-02-03  2018-02-03
3     1517722200     24   Extreme Fear  2018-02-04  2018-02-04
4     1517808600     11   Extreme Fear  2018-02-05  2018-02-05
...          ...    ...            ...         ...         ...
2639  1745818200     54        Neutral  2025-04-28  2025-04-28
2640  1745904600     60          Greed  2025-04-29  2025-04-29
2641  1745991000     56          Greed  2025-04-30  2025-04-30
2642  1746077400     53        Neutral  2025-05-01  2025-05-01
2643  1746163800     67          Greed  2025-05-02  2025-05-02

[2644 rows x 5 columns]

In [102]:
merged_data = pd.merge(trades_df, sentiment_df, on='Date', how='left')

In [103]:
merged_data

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,...,Order ID,Crossed,Fee,Trade ID,Timestamp,Date,timestamp,value,classification,date
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0000,...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0000,...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0000,...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0000,...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0000,...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211219,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,382.20,420.80,SELL,25-04-2025 15:35,7546.600000,Close Long,-20.2566,...,88803313862,False,0.042080,1.990000e+14,1.750000e+12,2025-04-25,1.745559e+09,60.0,Greed,2025-04-25
211220,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,2124.10,2338.63,SELL,25-04-2025 15:35,7164.400000,Close Long,-112.5773,...,88803313862,False,0.233863,9.260000e+14,1.750000e+12,2025-04-25,1.745559e+09,60.0,Greed,2025-04-25
211221,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,423.40,466.16,SELL,25-04-2025 15:35,5040.300000,Close Long,-22.4402,...,88803313862,False,0.046616,6.930000e+14,1.750000e+12,2025-04-25,1.745559e+09,60.0,Greed,2025-04-25
211222,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,3599.80,3963.38,SELL,25-04-2025 15:35,4616.900000,Close Long,-190.7894,...,88803313862,False,0.396337,4.180000e+14,1.750000e+12,2025-04-25,1.745559e+09,60.0,Greed,2025-04-25
211223,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,1017.10,1119.83,SELL,25-04-2025 15:35,1017.100000,Close Long,-53.9063,...,88803313862,False,0.111982,3.270000e+14,1.750000e+12,2025-04-25,1.745559e+09,60.0,Greed,2025-04-25

In [104]:
merged_data.head(5)

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,...,Order ID,Crossed,Fee,Trade ID,Timestamp,Date,timestamp,value,classification,date
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02

In [105]:
merged_data.columns

Index(['Account', 'Coin', 'Execution Price', 'Size Tokens', 'Size USD', 'Side',
       'Timestamp IST', 'Start Position', 'Direction', 'Closed PnL',
       'Transaction Hash', 'Order ID', 'Crossed', 'Fee', 'Trade ID',
       'Timestamp', 'Date', 'timestamp', 'value', 'classification', 'date'],
      dtype='object')

In [106]:
merged_data.dtypes

Account              object
Coin                 object
Execution Price     float64
Size Tokens         float64
Size USD            float64
Side                 object
Timestamp IST        object
Start Position      float64
Direction            object
Closed PnL          float64
Transaction Hash     object
Order ID              int64
Crossed                bool
Fee                 float64
Trade ID            float64
Timestamp           float64
Date                 object
timestamp           float64
value               float64
classification       object
date                 object
dtype: object

In [107]:
merged_data.shape

(211224, 21)

In [108]:
merged_data.isnull().sum()

Account             0
Coin                0
Execution Price     0
Size Tokens         0
Size USD            0
Side                0
Timestamp IST       0
Start Position      0
Direction           0
Closed PnL          0
Transaction Hash    0
Order ID            0
Crossed             0
Fee                 0
Trade ID            0
Timestamp           0
Date                0
timestamp           6
value               6
classification      6
date                6
dtype: int64

In [109]:
######

In [116]:
position_groups = merged_data.groupby(['Account', 'Coin', 'Start Position', 'Direction','Date']).agg({
    'Size Tokens': 'sum',
    'Size USD': 'sum',
    'Closed PnL': 'sum'
}).reset_index()

In [117]:
position_groups

,Account,Coin,Start Position,Direction,Date,Size Tokens,Size USD,Closed PnL
0,0x083384f897ee0f19899168e3b1bec365f52a9012,ETH,-1688.3547,Close Short,2025-02-09,55.1071,147626.41,3621.638612
1,0x083384f897ee0f19899168e3b1bec365f52a9012,ETH,-1633.2476,Close Short,2025-02-09,0.2200,589.36,14.458400
2,0x083384f897ee0f19899168e3b1bec365f52a9012,ETH,-1633.0276,Close Short,2025-02-09,0.2100,562.57,13.801200
3,0x083384f897ee0f19899168e3b1bec365f52a9012,ETH,-1632.8176,Close Short,2025-02-09,0.2600,696.51,17.087200
4,0x083384f897ee0f19899168e3b1bec365f52a9012,ETH,-1632.5576,Close Short,2025-02-09,0.2200,589.36,14.458400
...,...,...,...,...,...,...,...,...
209346,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,SOL,252.3400,Close Long,2024-12-12,4.3300,995.51,-11.041500
209347,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,SOL,257.5700,Close Long,2024-12-12,5.2300,1202.53,-13.231900
209348,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,SOL,271.7000,Close Long,2024-12-09,27.6700,6427.46,47.606235
209349,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,SOL,279.9400,Open Long,2024-12-09,21.1000,4904.91,0.000000
209350,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,SOL,301.0400,Close Long,2024-12-12,43.4700,9995.06,-109.979100

In [118]:

merged_data['Notional_USD'] = merged_data['Size Tokens'].abs() * merged_data['Execution Price']
# Sort and compute price change proxy per position (simplified; refine with timestamps)
merged_data_sorted = merged_data.sort_values(['Account', 'Coin', 'Timestamp IST', 'Side'])
merged_data['Price_Change_Pct'] = merged_data.groupby(['Account', 'Coin'])['Execution Price'].pct_change().abs()
 #(current_price - previous_price) / previous_price

In [113]:
merged_data.head(5)

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,...,Order ID,Crossed,Fee,Trade ID,Timestamp,Date,timestamp,value,classification,date
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,2024-12-02,1.733117e+09,80.0,Extreme Greed,2024-12-02

In [119]:
position_summary = merged_data[merged_data['Closed PnL'].notna()].groupby(['Account', 'Coin', 'Trade ID']).agg({
    'Closed PnL': 'sum',
    'Notional_USD': 'mean',
    'Price_Change_Pct': 'mean'
}).reset_index()

In [120]:
position_summary['Proxy_Leverage'] = np.abs(position_summary['Closed PnL']) / (
    position_summary['Notional_USD'] * position_summary['Price_Change_Pct']
).replace(0, np.nan)

In [121]:
position_summary

,Account,Coin,Trade ID,Closed PnL,Notional_USD,Price_Change_Pct,Proxy_Leverage
0,0x083384f897ee0f19899168e3b1bec365f52a9012,ETH,1.820000e+11,-24.000170,165.68100,0.000000,NaN
1,0x083384f897ee0f19899168e3b1bec365f52a9012,ETH,5.400000e+11,0.000000,207494.85250,0.000000,NaN
2,0x083384f897ee0f19899168e3b1bec365f52a9012,ETH,8.550000e+11,264.480251,2998.87112,0.000000,NaN
3,0x083384f897ee0f19899168e3b1bec365f52a9012,ETH,8.640000e+11,0.000000,517.68000,0.000000,NaN
4,0x083384f897ee0f19899168e3b1bec365f52a9012,ETH,1.270000e+12,-2.739800,1008.71000,0.000000,NaN
...,...,...,...,...,...,...,...
92703,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,SOL,1.010000e+15,-11.041500,995.51030,0.000087,127.511091
92704,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,SOL,1.090000e+15,-25.548800,2294.40200,0.000000,NaN
92705,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,SOL,1.100000e+15,0.000000,8717.25000,0.000732,0.000000
92706,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,SOL,1.110000e+15,-164.814100,14742.84570,0.000000,NaN
92707,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,SOL,1.120000e+15,-13.231900,1202.53390,0.000000,NaN

In [122]:
print(position_summary[['Proxy_Leverage']].describe())

       Proxy_Leverage
count    55844.000000
mean       813.593178
std       5367.890971
min          0.000000
25%          0.000000
50%          1.628999
75%        100.822603
max     446074.731632

In [130]:
behavior_summary['Proxy_Leverage']

classification
Extreme Fear     4.309164e+06
Extreme Greed    1.451647e+07
Fear             1.047039e+07
Greed            1.187041e+07
Neutral          4.180691e+06
Name: Proxy_Leverage, dtype: float64

In [134]:
# Extract unique Trade ID and their corresponding classification from merged_data
trade_id_classification = merged_data[['Trade ID', 'classification']].drop_duplicates(subset=['Trade ID'])

# Merge classification into position_summary
position_summary_with_classification = pd.merge(
    position_summary,
    trade_id_classification,
    on='Trade ID',
    how='left'
)

# Now, group by classification on the new DataFrame
behavior_summary = position_summary_with_classification.groupby('classification').agg({
    'Closed PnL': 'sum',
    'Account': 'count', # This will count the number of Trade IDs (positions) per classification
    'Proxy_Leverage' :'mean'
})

In [135]:
behavior_summary

                  Closed PnL  Account  Proxy_Leverage
classification
Extreme Fear    1.238471e+06     9649      731.855284
Extreme Greed   3.184314e+06    27223      864.435991
Fear            2.516825e+06    23679      748.205711
Greed           2.387071e+06    23356      850.925138
Neutral         8.692510e+05     8621      818.780125

In [158]:
average_leverage_greed = behavior_summary['Proxy_Leverage']['Greed']
average_leverage_fear = behavior_summary['Proxy_Leverage']['Fear']

In [159]:
if average_leverage_greed > average_leverage_fear:
    print("Insight: Traders show increased risk-taking behavior during Greed phases.")

Insight: Traders show increased risk-taking behavior during Greed phases.

So, clearly we see Leverage is more when traders are Greed compare to Fear